
body{
	background-color : #272727;

}
body h1{
	text-align: center;
	color: white;
	font-family : comic sans ms;
}

body form input{
 float: left;
 width: 60%;
 padding : 10px;
 margin-left: 190px;
 text-align: center;
}